*{
    margin: 0;padding: 0;
}
.my{
    background: linear-gradient(to right, #fff, #333dff);
}
.welcome{
    max-width: 100%;
}
.wave{
    background-image: url('./images/wave2.png');
    background-size:cover;
    background-position: bottom;
    height: 100px;
}
.redwave{
    background-image: url('./images/redbubble.png');
    background-size:cover;
    background-position: bottom;
    height: 130px;
}
.head{
    height: 100%;
    width: 100%;
}
h1{
    font-size: 70px !important;
    font-weight:700 !important;
}
.headimg2{
    box-shadow: 0px 20px 30px -20px rgba(0,0,0,0.5);
}
.foottext{
    color: rgb(176, 174, 174);
}
.mybg{
    background-color: rgb(7, 7, 48);
}
.mybtn{
    text-decoration: none;
    /* font-family: ; */
    /* font-family:Verdana, Geneva, Tahoma, sans-serif !important; */
}
.franchise{
    min-height: 400px;
}
.mycard{
    border: red solid 4px !important;
}
.mycard:hover{
    box-shadow: 6px 6px 18px 6px red;
}
.main{
    color:rgb(65, 33, 151);
    animation: in 1s ease-in-out 1 ;
    position: relative;
    animation-fill-mode: forwards; 
}
.headimg{
    max-width: 100%;
    max-height: auto;
    /* animation: rotate 2s 1; */
}
.shaking{
    animation: shake 0.3s ease-in-out 1;
}
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-15px); }
    50% { transform: translateX(15px); }
    75% { transform: translateX(-15px); }
    100% { transform: translateX(15px); }
  }
@keyframes in {
    0%{
        left: -500px;
    }
    50%{
        left: 100px;
    }
    100%{
        left: 0px;
    }
}
@keyframes rotate {
    0%,100%{
    }
    50%{
        transform:rotateY(180deg);
    }
}